In [1]:
import pandas as pd
import numpy as np

### * pd.isna(obj)

### Parameters : obj : scalar or array-like
####            - Null 또는 결츨값을 확인할 개체이다. 

### Returns : bool or array-like of bool 
####            - 스칼라 입력의 경우 스칼라 bool을 반환한다. 배열 입력의 경우 각 해당 요소가 누락되었는지 여부를 나타내는 bool 배열을 반환한다.

In [2]:
pd.isna('dog')

False

In [3]:
pd.isna(pd.NA)

True

In [4]:
pd.isna(np.nan)

True

In [5]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print("array \n", array)
print('='*80)
print('pd.isna(array) \n', pd.isna(array))

array
 [[ 1. nan  3.]
 [ 4.  5. nan]]
================================================================================
pd.isna(array)
 [[False  True False]
 [False False  True]]

In [6]:
index = pd.DatetimeIndex(['2017-07-05', '2017-07-06', None, '2017-07-08'])
print("index \n", index)
print('='*80)
pd.isna(index)

index
 DatetimeIndex(['2017-07-05', '2017-07-06', 'NaT', '2017-07-08'], dtype='datetime64[ns]', freq=None)
================================================================================

array([False, False,  True, False])

In [7]:
df = pd.DataFrame([['ant', 'bee','cat'], ['dog', None, 'fly']])
print(df)
print('='*80)
pd.isna(df)

     0     1    2
0  ant   bee  cat
1  dog  None  fly
================================================================================

       0      1      2
0  False  False  False
1  False   True  False

In [8]:
pd.isna(df[1])

0    False
1     True
Name: 1, dtype: bool