# Series

* ## 생성자
    ## Series([data, index, dtype, name, copy, …])

* ## 속성
    ### [Series.index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.index.html#pandas.Series.index) : Series의 인덱스(축 레이블)입니다.
    ### [Series.array](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.array.html#pandas.Series.array) : 이 Series 또는 Index를 지원하는 데이터의 ExtensionArray입니다.
    ### [Series.values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.values.html#pandas.Series.values) : dtype에 따라 sandarray 또는 ndarray를 반환합니다.
    ### [Series.dtype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dtype.html#pandas.Series.dtype) : 기본 데이터의 dtype 개체를 반환합니다.
    ### [Series.shape](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.shape.html#pandas.Series.shape) : 기본 데이터의 모양에 대한 튜플을 반환합니다.
    ### [Series.nbytes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.nbytes.html#pandas.Series.nbytes) : 기본 데이터의 바이트 수를 반환합니다.
    ### [Series.ndim](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.ndim.html#pandas.Series.ndim) : 정의 1에 의한 기본 데이터의 차원 수.
    ### [Series.size](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.size.html#pandas.Series.size) : 기본 데이터의 요소 수를 반환합니다.
    ### [Series.T](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.T.html#pandas.Series.T) : 전치사를 반환합니다. 이는 정의 자체입니다.
    ### [Series.memory_usage([index, deep])](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.memory_usage.html#pandas.Series.memory_usage) : 시리즈의 메모리 사용량을 반환합니다.
    ### [Series.hasnans](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.hasnans.html#pandas.Series.hasnans) : Nan이 있으면 돌아옵니다. 다양한 성능 향상을 지원합니다.
    ### [Series.empty](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.empty.html#pandas.Series.empty) :  DataFrame이 비어 있는지 여부를 나타냅니다.
    ### [Series.dtypes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dtypes.html#pandas.Series.dtypes) : 기본 데이터의 dtype 개체를 반환합니다.
    ### [Series.name](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.name.html#pandas.Series.name) : 시리즈 이름을 반환합니다.
    ### [Series.flags](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.flags.html#pandas.Series.flags) : 이 판다 개체와 관련된 속성을 가져옵니다.
    ### [Series.set_flags(*[, copy, …])](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.set_flags.html#pandas.Series.set_flags) : 업데이트된 플래그가 있는 새 개체를 반환합니다.

In [1]:
import numpy as np 
import pandas as pd

# 정수값 데이터 생성 
s1 = pd.Series([1, 2, 3])
s1

0    1
1    2
2    3
dtype: int64

In [2]:
# 문자열 데이터 생성 
s2 = pd.Series(['a', 'b', 'c'])
s2

0    a
1    b
2    c
dtype: object

In [3]:
# 범위를 통한 데이터 생성
s3 = pd.Series(np.arange(200))
s3

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int64

In [4]:
# index 값을 만들어 데이터 생성
# pd.Series([data_values],[index_values]])

s4 = pd.Series([1, 2, 3], [100, 200, 300])
s4

100    1
200    2
300    3
dtype: int64

In [5]:
s5 = pd.Series([1, 2, 3], ['a','m','k'])
s5

a    1
m    2
k    3
dtype: int64

In [6]:
# 데이터 타입을 정해서 데이터 생성

s6 = pd.Series(np.arange(5), np.arange(100,105), dtype = np.int16)
s6

100    0
101    1
102    2
103    3
104    4
dtype: int16

### Series size, shape, unique, count, value_counts 함수
- size : 개수 반환
- shape : 튜플 형태로 shape반환
- unique : 유일한 값만 ndarray로 반환
- count : NaN을 제외한 개수 반환
- mean : NaN을 제외한 평균
- value_counts : NaN을 제외하고 각 값들의 빈도를 반환

In [7]:
# 데이터 값의 수가 다른 두 데이터의 연산 

s = pd.Series([1, 1, 2, 1, 2, 2, 2, 1, 1, 3, 3, 4, 5, 5, 7, np.NaN])
s1 = pd.Series([1, 2, 3, 4, 5, 6])

s + s1

0     2.0
1     3.0
2     5.0
3     5.0
4     7.0
5     8.0
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
dtype: float64

In [8]:
# bool값을 이용한 조건 값 계산

s = pd.Series(np.arange(10), np.arange(10)+1)
(s >= 7).sum()

3

In [9]:
# 조건으로 데이터 계산

s = pd.Series(np.arange(10), np.arange(10)+1)
s[(s >= 7)].sum()

24

In [10]:
# 특정 값의 데이터 변경

s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s[['a', 'c']] = [300, 900]
s

a    300
b    101
c    900
d    103
e    104
dtype: int64

In [11]:
s['a'] = 400
s

a    400
b    101
c    900
d    103
e    104
dtype: int64

In [12]:
# 특정 범위의 데이터 값 출력

s2 = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s2['b':'d']

b    101
c    102
d    103
dtype: int64